*{
	font-family:times new romens;
	margin:0;
	padding:0;
}
#particles-js{
   /*background-image: linear-gradient(to right top, #051937, #00374f, #005458, #3d6f58, #7a875c);*/
	background-image: linear-gradient(to right top, #313943, #2b374a, #283351, #2a2f56, #312959);
	height:100vh;
	background-position:center;
	background-size:cover;	
}
.logo
{
	
	text-transform:uppercase;
	font-size:100%;
	margin-top:10%;
}
 .welcome {
	 margin-left:2%;
	 position:absolute;
	 color:white;
	 font-family:sans-serif;
 }
 
 
 
  .welcome h1
  {
	  text-transform:uppercase;
	  letter-spacing:2px;
	  margin-top:10%;
	 
  }
   .welcome p
   {
	   font-size:100%;
	   margin-top:6%;
	   font-family:monospace;
   }
   
   
   
   
   .welcome a
   {
	   text-decoration:none;
	   color:black;
	   letter-spacing:2px;
	   position:fixed; 	
	   margin-top:10%;
	   padding:15px 30px;
	   background-color:#65E5A2;
	   font-size:110%;
	   
   }
   .komal
   {
	   
		
	   
   }